@media only screen and (max-width: 1380px) {
  .header__menu li {
    margin-right: 7px;
  }
  .header__btns button {
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 1173px) {
  .container {
    padding: 15px;
  }
  .header__menu--link {
    font-size: 14px;
    padding: 6px;
  }
  .header__menu li:first-child a {
    margin-right: 0;
  }
  .header__menu li:first-child a b {
    font-size: 0;
  }
  .header__btns button {
    width: 40px;
    height: 40px;
  }
  .header__btns button span {
    width: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .blog__img {
    width: 180px;
  }
  .blog__right {
    width: calc(100% - 180px);
  }
  .food {
    display: block;
  }
  .main__support--link span {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .main__support--link b {
    font-size: 16px;
  }
  .header__menu--link {
    font-size: 20px;
  }
  .header__menu--link b {
    font-size: 0;
  }
  .header__menu--link b span {
    margin: 0;
  }
  .main__about {
    flex-direction: column;
  }
  .main__about--img {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .main__support {
    flex-wrap: wrap;
  }
  .main__support--link {
    margin: 7.5px;
  }
  .main__support--link br {
    display: none;
  }
  .main__support--link b {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  h2 {
    color: #000;
  }
  .filter select {
    color: #000;
  }
  .links a {
    color: #000;
  }
  h1 {
    color: black;
  }
  .main {
    background-size: contain;
    background-position: center bottom;
    background-attachment: fixed;
  }
  .main__support--link {
    display: block;
    text-align: center;
  }
  .main__support--link span {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__toggle {
    display: flex;
  }
  .header__menu {
    position: fixed;
    right: -1000px;
    top: 70px;
    background-color: #157AFE;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 15px;
    white-space: nowrap;
    overflow: auto;
    transition: 0.5s;
  }
  .header__menu.active {
    right: 0;
  }
  .header__menu li {
    margin-bottom: 5px;
  }
  .header__menu li:first-child a {
    font-size: 16px;
  }
  .header__menu--link b {
    font-size: 16px;
  }
  .header__menu--link b span {
    margin-right: 15px;
  }
  .header__btns button {
    margin-left: 0;
  }
}
