* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1084px;
  margin: 0px auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col-3 {
  flex-basis: 25%;
  min-width: 25%;
  width: 25%;
  padding: 0px 10px;
}
.col-4 {
  flex-basis: 33.33%;
  min-width: 33.33%;
  width: 33.33%;
  padding: 0px 10px;
}
.col-6 {
  flex-basis: 50%;
  min-width: 50%;
  width: 50%;
  padding: 0px 10px;
}
.col-9 {
  flex-basis: 75%;
  min-width: 75%;
  width: 75%;
  padding: 0px 10px;
}
@media only screen and (max-width: 1020px) {
  .col-md-3 {
    flex-basis: 25%;
    min-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-md-4 {
    flex-basis: 33.33%;
    min-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-md-6 {
    flex-basis: 50%;
    min-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-md-12 {
    flex-basis: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .col-xs-3 {
    flex-basis: 25%;
    min-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-xs-4 {
    flex-basis: 33.33%;
    min-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-xs-6 {
    flex-basis: 50%;
    min-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-xs-12 {
    flex-basis: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .col-sm-3 {
    flex-basis: 25%;
    min-width: 25%;
    width: 25%;
    padding: 0px 10px;
  }
  .col-sm-4 {
    flex-basis: 33.33%;
    min-width: 33.33%;
    width: 33.33%;
    padding: 0px 10px;
  }
  .col-sm-6 {
    flex-basis: 50%;
    min-width: 50%;
    width: 50%;
    padding: 0px 10px;
  }
  .col-sm-12 {
    flex-basis: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  display: inline-block;
}
button {
  border: 0;
  cursor: pointer;
}
textarea,
input {
  border: 0;
}
textarea:focus,
input:focus {
  outline: unset;
}
.header {
  padding: 15px;
  background: #157AFE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__toggle {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.header__toggle span {
  height: 2px;
  width: 20px;
  background-color: #157AFE;
  position: relative;
}
.header__toggle span:before,
.header__toggle span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #157AFE;
  top: -7px;
  left: 0;
}
.header__toggle span:after {
  top: 7px;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu--link {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 11px;
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}
.header__menu--link span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.header__menu--link.active,
.header__menu--link:hover {
  background-color: #fff;
  color: #157AFE;
}
.header__menu--link.active span,
.header__menu--link:hover span {
  filter: unset;
}
.header__menu--link span {
  filter: brightness(0) invert(1);
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 20px;
  border: 2px solid #fff;
}
.header__btns button span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.header__btns button:hover {
  background: unset;
}
.footer {
  background-color: #135CBB;
  padding: 22px 0px;
  color: #fff;
  font-size: 14px;
  margin-top: auto;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  flex: 1;
  background: url(../img/shinkansen.jpg) no-repeat center center / cover;
  padding-top: 30px;
  padding-bottom: 130px;
}
.main__support {
  display: flex;
  align-items: center;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid #B8B8B8;
  padding: 20px ;
  background-color: rgba(204, 204, 204, 0.339);
}
.main__support--link {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: black;
}
.main__support--link span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  background-color: #157AFE;
  margin: 0px 20px;
  border-radius: 50%;
  font-size: 20px;
}
.main__support--link span:hover {
  background-color: #fff;
  color: #157AFE;
}
.main__support--link b {
  flex: 1;
}
.main__about {
  display: flex;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 26px;
}
.main__about--text {
  padding: 14px 22px;
  flex: 1;
}
.main__about--img {
  border-radius: 20px;
  flex-basis: 400px;
  min-width: 400px;
  width: 400px;
}
.main__about--title {
  font-size: 18px;
  font-weight: 700;
}
.main__about p {
  font-size: 15px;
  margin-bottom: 15px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 26px;
  text-align: center;
  color: #fff;
}
h1 span {
  color: #157AFE;
}
.pbox {
  height: 171px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  padding: 15px 15px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.pbox__link {
  margin-left: auto;
  color: #fff;
  border: 8px solid #C1DCFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #157AFE;
  padding: 7.5px;
  transition: 0.5s;
}
.pbox__link .pbox__icon {
  transition: 0.5s;
}
.pbox__link:hover {
  border-color: #157AFE;
}
.pbox__link:hover .pbox__icon {
  transform: rotate(320deg);
}
.pbox__title {
  margin-top: auto;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.food__all {
  border-top: 1px solid #656565;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}
.food__report {
  font-size: 10px;
  font-style: italic;
  color: #383838;
}
.food__order {
  padding: 7px 0px;
  display: block;
  border-radius: 10px;
  background-color: #619B32;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-top: 13px;
}
.food__calc {
  margin-top: 42px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px 22px;
  position: sticky;
  top: 100px;
}
.food__calc--title {
  font-size: 18px;
  font-weight: 700;
}
.food__list li {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0px;
  border-bottom: 1px solid #EFEFEF;
}
.food__list li:last-child {
  border-bottom: 0;
}
.food__list li span {
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.food__type {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}
.food__box {
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
}
.food__ltitle {
  font-size: 12px;
  margin-bottom: 2px;
}
.food__img {
  height: 171px;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  position: relative;
}
.food__img .pbox__link {
  position: absolute;
  right: 14px;
  bottom: -23px;
}
.food__info {
  padding: 15px;
}
.food__title {
  font-size: 18px;
}
.food__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}
.food__count {
  display: flex;
  align-items: center;
}
.food__count button {
  width: 26px;
  height: 26px;
  background-color: #157AFE;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food__count button:hover {
  background-color: #135CBB;
}
.food__value {
  width: 37px;
  padding: 0px 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.links {
  display: flex;
  margin-bottom: 20px;
  color: #fff;
}
.links a {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.links a.active,
.links a:hover {
  text-decoration: underline;
}
.mb-2 {
  margin-bottom: 20px;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.breadcrumbs a {
  color: #5b5b5b;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}
.breadcrumbs a:after {
  content: '-';
  margin: 0px 5px;
}
.blog {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  height: 100%;
}
.blog__bimg {
  height: 393px;
  background-size: cover;
  background-position: center bottom;
  border-radius: 15px;
}
.blog__desc {
  max-width: 900px;
  background-color: #fff;
  border-radius: 15px;
  padding: 28px 38px;
  margin: auto;
  transform: translateY(-110px);
}
.blog__desc p {
  margin-bottom: 15px;
}
.blog__desc--title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
  text-align: center;
}
.blog__img {
  width: 256px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}
.blog__right {
  width: calc(100% - 256px);
  padding: 14px;
}
.blog__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}
.blog__text {
  font-size: 12px;
  color: #2D2D2D;
  margin-bottom: 9px;
  overflow: hidden;
}
.blog__link {
  color: #157AFE;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}
.filter {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.filter select {
  font-size: 18px;
  font-weight: 500;
  background: unset;
  border: 0;
  padding: 10px;
  margin-right: 30px;
  color: #fff;
}
h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: #fff;
}
.movie__poster {
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}
.movie__poster button {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
}
.movie__poster button:hover {
  background-color: #ff0101;
}
.movie__poster button:hover span {
  filter: brightness(0) invert(1);
}
.movie__poster button span {
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0101;
}
.music__head {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}
.music__head--name {
  width: 41.666%;
  padding: 0px 10px;
}
.music__head--singer {
  width: 25%;
  padding: 0px 10px;
}
.music__head--play,
.music__head--time,
.music__head--ganre {
  width: 8.333%;
  padding: 0px 10px;
}
